body{
    font-family: 'Open Sans', sans-serif;
}
/* common style shared */
/* .positon_related{
    position: fixed;
} */
/* header section design */
header{
    background-color: whitesmoke;
}
.logo_design{
    padding:5px;
    border-radius: 50px;
}
.address_design{
    text-decoration: none;
    list-style: none;
    color:palevioletred;
    font-size: 20px;
    margin-left: 70px;
    padding:5px;
    border:2px solid palevioletred;
    border-radius: 5px;
}
.btn_design{
    border-radius: 5px;
    margin-left: 100px;
}
nav ul>li{
    list-style: none;
    text-decoration: none;
    border:1px solid palevioletred;
    border-radius: 40px;
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap:24px;
}
nav ul li a{
    font-size: smaller;
    color:palevioletred
}

/* list left side design */
.list_style{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgb(128, 129, 129);
    font-size: 25px;
    font-weight: 300;
}
.back_color{
    background-color: whitesmoke;
    /* padding-right: 50px; */
    margin-right: 0px;
    
}
ul li{
    padding: 8px 10px;
}
ul li a:hover{
    background: rgb(250, 212, 218);
}
/* main section food item */
main{
    background-color: whitesmoke;
}
.width_design{
    max-width: 50%;
}
.biryani_image{
    display: flex;
    margin: 5px 2px 5px 5px;
}
.biryani{
    color:crimson;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.image_design{
    height: 190px;
    width: 190px;
    padding:30px;
    border-radius:100%;
}
.image_design_2{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius:100%;
    margin-left: 20px;
}
.biryani_items{
    height: 190px;
    width: 190px;
    background-color: rgb(54, 49, 50);
    box-shadow: 7px 5px 5px crimson;
    margin: 6px;
}
section{
    margin-right: 0px;
}
.title_col{
    text-align: right;
}
/* design right side main */
.container_flex{
     display: flex;
     justify-content:center;
     align-items: center;
} 
.img_text{
    margin-top: 10px;
    color: grey;
    margin-left: 10px;
}
.imgation{
    margin-left: 10px;
    margin-right: 0;
}
.imgation>.imag{
    margin-left: 50px;
}
.imgation>.imag_1{
    margin-left: 30px;
}