<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Order System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-6 ">
               
                <img src="../images/food logo.png" alt="" class="logo_design">
                <a href="" class="address_design">Your address</a>
            </div>
            <div class="col-6">
              <nav>
                <ul>
                    <li><a href="">Search</a></li>
                    <li><a href="">Offers</a></li>
                    <li><a href="">items</a></li>
                    <li><a href="">Account</a></li>
                </ul>
              </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-2 back_color">
              <div>
                <ul class="list_style">
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Your Orders</a></li>
                    <li><a href="">Wishlists</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">contact</a></li>
                    <li><a href="">Checkout</a></li>
                </ul>
              </div>
            </div>
            <div class="col-7">
              <section>
                <h3 class="biryani">Biryani</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/biryani/Ambur-Chicken-Biryani.jpg" alt="" class="image_design">
                    
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/Chicken-Biryani-hyd.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/egg-biryani.jpeg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/goan-fish-biryani.jpg" alt="" class="image_design">
                    </div> 
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/biryani/hyd-Mutton-Biryani.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/kamrupi-biryani.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/kashmiri.pulao.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/biryani/memonibiryani.png" alt="" class="image_design">
                    </div>
                </div>
              </section>
              <section>
                <h3 class="biryani">Chicken Delicious</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/chicken/Chicken-Curry.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chicken/Chicken-do-Pyaza.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chicken/Chicken-Masala.jpeg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chicken/Chicken_roast.jpg" alt="" class="image_design">
                    </div>
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/chicken/Handi-chicken.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chicken/Murgh-Musallam.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chicken/Paneer-Butter-Masala.jpg" alt="" class="image_design">
                    </div>
                </div>
              </section>
              <section>
                <h3 class="biryani">Chinese</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/chinese/cabbage-momos-.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/ChickenManchurian.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/Chili-Chicken.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/chowmin.jpg" alt="" class="image_design">
                    </div>
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/chinese/spring-rolls.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/mmos.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/szechuan-chicken.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/chinese/veg-fried-rice.jpg" alt="" class="image_design">
                    </div>
                </div>
              </section>
              <section>
                <h3 class="biryani">Paneer Mania</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/paneer/Matar-Paneer.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/paneer/palak-paneer.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/paneer/paneer-butter-masala.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/paneer/Paneer-Do-Pyaza.jpg" alt="" class="image_design">
                    </div>
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/paneer/Paneer-Hyderabadi.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/paneer/paneer-lababdar.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/paneer/shahi-paneer.jpg" alt="" class="image_design">
                    </div>
                </div>
              </section>
              <section>
                <h3 class="biryani">Vegitable</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/vegetable/navratan-korma_-vegetable.png" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/vegetable/VEG-JALFREZI.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/vegetable/vegetable-biryani.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/vegetable/vegetable-curry.jpeg" alt="" class="image_design">
                    </div>
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/vegetable/vegetable-kolhapuri.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/vegetable/vegetable-masala.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/vegetable/vegetable-pakora.jpg" alt="" class="image_design">
                    </div>
                </div>
              </section>
              <section>
                <h3 class="biryani">South Indian</h3>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/south indian/Butter-Masala-Dosa.png" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/idli-with-rice-flour.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/masala-dosa.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/mysore-bonda.jpg" alt="" class="image_design">
                    </div>
                </div>
                <div class="biryani_image">
                    <div class="biryani_items"><img src="../images/south indian/mysore-bonda.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/onion-uttapam.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/Rava-Uttapam.jpg" alt="" class="image_design">
                    </div>
                    <div class="biryani_items"><img src="../images/south indian/sambhar-vada.jpg" alt="" class="image_design">
                    </div>
                </div>
              </section>
            </div>

            <div class="col-3">
            <h3 class="title_col">Go For Hunt</h3>
            <div class="right_container">
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/biryani/hyd-Mutton-Biryani.jpg" alt="" class="image_design_2">
              </div>
              <div class="img_text">
                <p>Biryani</p>
              </div>
            </div>
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/chicken/Chicken-Curry.jpg" alt="" class="image_design_2 imag_1">
              </div>
              <div class="img_text">
                <p>Chicken</p>
              </div>
            </div>
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/chinese/cabbage-momos-.jpg" alt="" class="image_design_2 imag_1">
              </div>
              <div class="img_text">
                <p>Chinese</p>
              </div>
            </div>
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/paneer/Matar-Paneer.jpg" alt="" class="image_design_2">
              </div>
              <div class="img_text">
                <p>paneer</p>
              </div>
            </div>
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/vegetable/navratan-korma_-vegetable.png" alt="" class="image_design_2 imag">
              </div>
              <div class="img_text">
                <p>Vegetable</p>
              </div>
            </div>
              <div class="container_flex">
              <div class="imgation">
                <img src="../images/south indian/Butter-Masala-Dosa.png" alt="" class="image_design_2">
              </div>
              <div class="img_text">
                <p>South</p>
              </div>
            </div>
            </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>